* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d0d0d;
  width: 100%;
  min-height: 100vh;
  color: #00ff00;
  font-family: monospace;
}

header.opening {
  font-size: 1rem;
  font-family: monospace;
  color: #00ff00;
  max-height: 500px;
  overflow-y: hidden;
  overflow-x: auto;
  max-width: 100%;
  padding: 1rem;
  border-radius: 4px;
  cursor: text;
}

header.opening pre {
  width: fit-content;
  height: fit-content;
}

header.opening pre.title {
  font-size: 1.5rem;
  border: 5px dashed #00ff00;
}

main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  row-gap: 10px;
}

main section.input {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  font-size: 1rem;
  font-family: monospace;
  color: #00ff00;
}

main section.input input {
  width: 99%;
  background-color: transparent;
  border: transparent;
  color: #00ff00;
  text-decoration: none;
}

main section.input input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

main section.output {
  width: 100%;
  height: auto;
}

main section.output ul {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  list-style: none;
}

main section.output ul li {
  list-style: none;
}

.stopButton {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.nano-textarea {
  width: 100%;
  height: 300px;
  background-color: #0d0d0d;
  color: #00ff00;
  border: none;
  font-family: monospace;
  font-size: 1rem;
  padding: 10px;
  margin-top: 5px;
}